        <div class="flex flex-col mt-6">
            <p class="text-slate-600 text-xs">Thx To All Users And Contributors.</p>
            <p class="text-slate-600 text-xs">© <%= name %> | All Rights Reserved.</p>
        </div>
    </main>
</body>
</html>